/* Success.css */

.success-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.success-content {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success-content h1 {
  color: #4caf50;
}

.success-content a {
  display: block;
  margin-top: 20px;
  color: #007bff;
  text-decoration: none;
}

.success-content a:hover {
  text-decoration: underline;
}
